[submodule "soon-bridge-tool"]
	path = soon-bridge-tool
	url = https://github.com/soonlabs/soon-bridge-tool
[submodule "contacts/lib/forge-std"]
	path = contacts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
